{{ define "main"}}
{{ with site.Data.homepage.banner }}
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h1 class="mb-3">404</h1>
            <p class="mb-4">it seems like you lost your way! Go home?</p>
            <div><a href="/" class="btn btn-primary">home page</a></div>
            <img src="/images/404.svg" class="img-fluid mt-5" width="750px">
          </div>
        </div>
      </div>
    </section>
{{ end }}
{{ end }}
